

.main-class{
    display: flex;
    flex-direction: column; /* This makes the flexbox a column instead of a row*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(204, 204, 204) !important;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

a{
    color: black;
    text-decoration: underline;
}

h1:hover{
    cursor: pointer;
}
a:hover{
    color: blueviolet;
}
.shortened-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.shortened-container p{
    font-size: larger;
}
